/*

body{
  box-sizing: border-box;
  margin: 50px auto;
  padding: 0
}

.header{
  width: 100%;
  border-bottom: 2px solid gray;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.logo{
  width: 50px
}


main{
  background-color: rgb(215, 237, 245);
  height: 100vh;
}

.homeDiv{
  justify-content: space-around;
}

.handyhacks{
  background-color: pink;
}

.mealDiv{
  height: 100vh;
  padding: 20px 50px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.mealBox{
  background-color: white;
  width: 350px;
  display: flex;
}

.mealDetails{
  padding-left: 20px
}

.mealType{
  text-transform: uppercase;
  text-decoration: none;
}

.mealImg{
  width: 350px;
  height: 250px;
}
*/